{% extends "base.html.twig" %}
{% block body %}

    <div class="row d-flex justify-content-center m-3">
        <div class="col d-flex flex-column m-1">
            <h1 style="font-weight: bold;" class="row d-flex justify-content-center m-3">Bienvenue sur Afappel !</h1>
            <img src="http://www.la-definition.fr/imgd/definition-absence-acad1986.png">
        </div>
    </div>

{% endblock %}